:root {
    --color_main: #E1AD01;
}

.current_page_link {
    color: var(--color_main);
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr minmax(3fr, auto) 1fr;
}