{% extends  'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for ('static', filename='stylesheets/animation_squid.css') }}">

{% endblock %}

{% block body %}

<svg>
    <filter id="filter_swirl_id" x='0%' y='0%' width='200%' height='200%'>
        <feTurbulence baseFrequency="0.06 0.06" result="NOISE" numOctaves="2" id="turbulence"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" in2="NOISE" scale="0" id="displacement_id"></feDisplacementMap>
    </filter>
</svg>

<!-- <img src="quid_2_play_once.gif" alt="squid swirl"> -->
<div id="sprite" class="animation_intro"></div>
<button id="ctrl">"Disappear!"</button>


<script>
    // transition from intro to ide aimation on page load
    console.log("script started")
    let squid = document.getElementById("sprite")
    squid.addEventListener("animationend", change_to_idle)

    function change_to_idle(){
        squid.classList.add("animation_loop")
    }

    // disappear on click
    let ctrl_button = document.getElementById("ctrl")
    ctrl_button.addEventListener("click", trigger_disappear_animation)

    function trigger_disappear_animation(){
        if (squid.classList.contains("animation_outro")) {
            squid.classList.remove("animation_outro")
            squid.classList.remove("animation_loop")
            squid.classList.add("animation_intro")
            ctrl_button.innerHTML = "Disappear!"

        } else {
            squid.classList.remove("animation_loop")
            squid.classList.remove("animation_intro")
            squid.classList.add("animation_outro")
            ctrl_button.innerHTML = "Appear!"
        }
    }
</script>

<script>
    // Swirl effect for the button
    let my_button = document.getElementById("ctrl")
    my_button.addEventListener('click', swirl_away)

    function swirl_away(){
        my_button.style.filter = "url(#filter_swirl_id)"

        let displacement_filter_elemenet = document.getElementById('displacement_id')
        let scale_value = 0
        let FPS = 30
        let swirl_out_animation = setInterval(scale_animation, 1000/FPS)
        let backgroun_opacity = 1


        function scale_animation(){
            scale_value = scale_value + 5
            backgroun_opacity = backgroun_opacity - 0.03
            displacement_filter_elemenet.setAttribute('scale', scale_value);
            my_button.style.backgroundColor = 'rgba(225, 173, 1, ' + String(backgroun_opacity) + ')'

            if (scale_value > 200) {
            clearInterval(swirl_out_animation)
            my_button.style.display = 'none'
            }
        }
    }
</script>


{% endblock %}