{% extends  'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Hello Squidy!</h1>
    <p>
        This is a web app that you can use to calculates all sorts of recipes for e-liquids while combining the advantages of:
        <ul>
            <li>not having to use a spreadsheet anymore (at least for this)</li>
            <li>making use of a very bad pun</li>
            <li>my boyfriend's love for creating 3D models and cute animations</li>
        </ul>
        With a bit of luck I will not quit this project and you will be able to:
        <ul>
            <li>calculate the amount of nicotine to be added in order not to end up dead because of nicotine poisoning</li>
            <li>convert precentages to milliliters to ratios to full volumes to tentacles back to percentages</li>
            <li>collect your own experienced, personal favorite Berty Bott's Every Flavour Beans ratios to be vaporized</li>
        </ul>
        Have fun and go squish! 
    </p>
</div>
<div>
    <button type="button" class="btn btn-warning">SWIRL!</button>
</div>
{% endblock %}